



.carousel img{

}
.products{
    background-color: #fff;
   height: 550PX;
}



.new{
    display: flex;
    gap: 200px;
    padding-bottom: 14px;
    padding-top: 2px;
font-weight: lighter;
}


.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
 
}
.contacts{
    height: 70vh;
    background: #fff; 
    margin-bottom: 60px;
     
}
.product-item{
    display: flex;
    height: 80vh;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -390px;

}
a{
    text-decoration: inherit;
}
.items{
    display: block;
    padding: 20px;
}
.items img{
    width: 400px;
    max-height: 400px;
    padding-bottom: 10px;

}
.details{
    width: 500px;
     margin-left:-650px;
}
.main{
    display: flex;
    justify-content:center;
    width: 100%;
    margin-left:490px;
    margin-top: 4px;
    padding-bottom: 15px;
    gap: 20px;
}
form{

    width: 500px;
    margin-bottom: 4px;
    padding-left:20px;
}

.slides{
    display: block;
    justify-content: center;
    margin-bottom: 30px;
    height: 90vh;
    width:80%;
    padding: 30px;
}
.slides img{
    height:80vh;
    object-fit: contain;
    margin-bottom: 30px;
    align-self: center;
    padding-left: 110px;

}

